$green-100: #f1f1ef;
$green-200: #a3ab82;
$green-300: #5c6d49;
$green-400: #0d3d03;
$green-500: #2e2c1f;

.footer {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: $green-500;
  background-color: $green-100;
  padding: 10px;
}
